body {
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #eeeeee;
}

.container {
  max-width: 800px;
  margin: auto;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.order-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.status {
  font-weight: bold;
}

.delivered {
  color: green;
}

.preparing {
  color: orange;
}

.ontheway {
  color: blue;
}

.order-card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}